<div id="login">
  <h3 class="mt-3 mb-4">Login</h3>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <p *ngIf="wrongCredentials">* Username or password is incorrect!</p>

    <div class="form-floating mb-4">
      <label for="username">Username</label>
      <input id="username" type="text" autocomplete="off" placeholder="Enter your username" (ngModel)="formData.value.username" name="username" class="form-control" required>
    </div>

    <div class="form-floating mb-3">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Enter your password" (ngModel)="formData.value.password" name="password" class="form-control" required>
    </div>

    <div class="form-check mb-3 f-right">
      <input class="form-check-input" type="checkbox" id="remember" name="remember" (ngModel)="formData.value.remember">
      <label class="form-check-label" for="remember">Remember me</label>
    </div>

    <button type="submit" [disabled]="!formData.valid" class="btn btn-primary w-100">Log in</button>

  </form>
</div>
